<!DOCTYPE html>
<html>
<head>
  <title>Continuous Informant</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/font-awesome.css">
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="180; url=/" />
</head>
<body>

  <div class="container">

  <% @projects.each do |project| %>
    <div class="project">
      <div class="label">
        <% if project.status == :success %>
          <i class="icon-ok"></i>
        <% elsif project.status == :failing %>
          <i class="icon-bolt"></i>
        <% else %>
          <i class="icon-eye-open"></i>
        <% end %>
        <%= project.name %>
      </div>
    </div>
  <% end %>

  </div>

</body>
</html>
