@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #3d4241;
  background-image: url(/images/dark_wood.png);
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 100%;
  box-sizing: border-box;
}

.container {
  -webkit-column-count:2;
  box-sizing: border-box;
  padding: 20px;
}

.project {
 box-sizing: border-box;
  float: left;
  width: 100%;
  margin-bottom: 0.5em;
  line-height: 2.5em;
  font-size: 2em;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(147,147,147,1)), color-stop(50%,rgba(114,114,114,0.84)), color-stop(51%,rgba(85,85,85,0.84)), color-stop(100%,rgba(124,124,124,0.67)));
  background: -webkit-linear-gradient(top, rgba(147,147,147,1) 0%,rgba(114,114,114,0.84) 50%,rgba(85,85,85,0.84) 51%,rgba(124,124,124,0.67) 100%);
  border-radius: 5px;
  border: 1px ridge #595c5a;
  overflow: hidden;
  position: relative;
}

.label {
  margin-left: 16px;
}

.icon-ok {
  color: #02FA02;
}
.icon-bolt{
  color: #ff3c2d;
}
.icon-eye-open {
  color: #B3B3B3;
}
.icon-eye-open::before, .icon-bolt::before, .icon-ok::before {
  width: 1.3em;
}
